body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    justify-content: center;
    align-content: center;
    width: 80%;
}

h1 {
    font-size: 5rem;
    margin-bottom: 20px;
    padding: 10px;
    font-family: "Lucida Console", monospace;}

th {
    background-color: #f2f2f2;
    border-radius: 5px;
}

.nav-button {
    display: inline-block;
    align-items: center;
    justify-self: center;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1.2rem;
    color: #fff;
    background-color: pink;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.box-container {
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    text-align: center;
    gap: 20px;
    margin-bottom: 20px;
}

.box {
    padding: 20px;
    width: 100px;
    text-align: center;
}

.upload-section {
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    text-align: center;
    margin-bottom: 20px;
    border: 2px solid #000;
    padding: 10px;
    width: 75%;
    align-items: center;
    
}

.data-table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #000;
}

.data-table th, .data-table td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}